video {
  width: 48%; /* Розмір картки та відео */
  height: 400px; /* Встановлюємо фіксовану висоту */
  max-width: 100%; /* Забезпечуємо, щоб картка та відео не перевищували контейнер */
  object-fit: cover; /* Забезпечуємо, щоб картка та відео займали всю доступну площу */
  border-radius: 8px; /* Закруглені кути */
}